h1{
    color: lightcoral;
}

.yellow-bg{
    font-size: 2em;
}

.large-text{
    font-size: 2em;
}
#fruits-title{
    color: black;
}

.important-places{
    color: blueviolet;
}
.fruits-container li{
    color: tomato;
}

.text-center{
    text-align: center;
}